// 定义scss变量
$primary-color: #409EFF;
$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$info-color: #909399;

// map对象
$font-obj:(
    "small": 12px,
    "normal": 16px,
    "large": 20px
)