.wrap{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 100px;
}

.mag-wrap{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    overflow: hidden;
}

.mag-wrap.show{
    display: block;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.mag-wrap .mag-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
}