.wrap{
    position: relative;
    width: 500px;
    height: 400px;
    background-color: #424242;
    margin: 100px auto;
    overflow: hidden;
}

.round{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: pink;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.round.header{
    background-color: orange;
}

.food{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}